@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/* utilites styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}
.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 10px;
}
/* menubar */
.menu,
.header-content,
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.menu .fas {
  margin: 0 5px;
}
/* header-content */
.header-content {
  margin-top: 20px;
}
.header-content h1 {
  font-size: 35px;
}
.header-content img {
  width: 27px;
}
/* cart */
.cart-logo {
  position: relative;
}
.cart-notify {
  position: absolute;
  top: -10px;
  left: -8px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
}
/* items */
.items {
  text-align: center;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.items h3 {
  padding: 10px 0;
}
/* products list */
.product-list {
  margin: 30px 0;
}
.product-list img {
  width: 100px;
  border-radius: 2px;
  object-fit: cover;
}
.products {
  padding-top: 30px;
  padding-bottom: 30px;
}

.product {
  display: flex;
  justify-content: space-between;
}
.product .product-description {
  margin: 0 20px;
}
.product-description h4 {
  font-size: 20px;
}
.rating {
  font-weight: 600;
}
.input-button {
  display: flex;
  justify-content: space-around;
}
.input-button button {
  font-size: 40px;
  margin: 0 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.input-button input {
  border: 0;
  width: 30px;
  font-size: 20px;
}
.free-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.free-shipping h3 {
  margin: 0 10px;
}
.cart-btn {
  text-decoration: none;
  color: #fff;
  background-color: #393939;
  padding: 10px 20px;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
}
/* checkout */
.checkout-container {
  margin: 20px auto;
}
.prices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.checkout-button {
  text-align: center;
  margin: 20px 0;
}
.checkout-button a {
  font-size: 20px;
}

@media only screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
  }
  .products {
    flex-direction: column;
  }
  .input-button {
    margin: 20px 0;
  }
  .free-shipping {
    flex-direction: column;
  }
  .free-shipping a {
    margin-top: 20px;
  }
}
